*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* GENERALI */
body{
    font-family: 'Roboto', sans-serif;
    margin-top:100px;
}
.flex-container{
    display:flex;
}
.container{
    max-width: 1200px;
    margin:0 auto;
}
ul{
    list-style-type: none;
}


/* HEADER */
header{
    background-color: #ff6900;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
}
.menu{
    justify-content: space-between;
    padding:10px;
}
.menu img{
    height:40px;
}
.menu ul{
    width:10%;
}
.menu ul li{
    color:white;
    padding:10px;
}

/* MAIN */
section{
    justify-content: space-between;
    align-items: flex-end;
}
.box{
    width: 32%;
    height: 630px;
    margin-right: 15px;
    margin-bottom: 40px;
    position:relative;
    padding-top:570px;
}
.box img{
    width:100%;
    position:absolute;
    top:0;
    left:0;
}
.box img:nth-of-type(1){
  z-index: 1;
}
.box img:nth-of-type(1):hover{
    opacity: 0;
}
.box .discount, .box .info{
    position: absolute;
    left:0;
    bottom:120px;
    background-color: red;
    color:white;
    font-size:12px;
    padding:5px;
    z-index: 2;
}
.box .info{
    left:40px;
    background-color: green;
}
.box .heart{
    right:0;
    top:15px;
    background-color: white;
    color:black;
    position: absolute;
    text-align: center;
    font-size: 25px;
    padding:10px;
    z-index: 2;
}

.box p, .box span{
    font-size: 12px;
}
.red{
    color:red;
}
.sbarrato{
    text-decoration: line-through;
}
.box:nth-last-of-type(1) .info{
    left:0;
}

/* FOOTER */
footer{
    background-color: black;
}
.piede{
    color:white;
    justify-content: space-between;
    padding: 10px;
}
.piede ul li{
    font-size: 11px;
    padding-right: 10px;
}
.piede div:nth-last-of-type(1) ul li{
    padding-right: 0;
    padding-left: 10px;
}